<div class="container main-area">
  <h2>Search results for <strong><%= @search_term %></strong></h2>
  <div class="row">
    <div class="col-md-5">
      <ul class="list-group">
        <% @results.each do |result| %>
        <li class="list-group-item">
          <%= link_to result.name, user_gadget_path(current_user, result) %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>