<div id="gadget_list">
  <h2>All Gadgets</h2>
  <% @gadgets.each do |gadget| %>
    <%= div_for gadget do  %>
      <h4><%= link_to gadget.name.titleize, user_gadget_path(current_user, gadget) %></h4>
      <%= image_tag gadget.images.first.file_url(:thumb)%>
    <% end %>
  <% end %>
</div>