<div class="container">
  
  <div class="row">
    <div class="col-md-9">
      <%= render "coverflow" %>
      <%= render "gadget_list" %>
    </div>
    <div class="col-md-3">
      <%= link_to new_user_gadget_path do %>
        <i class ='glyphicon glyphicon-plus-sign'></i> Gadget
      <% end %>
    </div>
  </div>
  
</div>