<div class="container main-area">  
  <div class="row">
    <div class="col-md-9">
      <% if @latest.size == 0 %>
        <h2>No gadgets</h2>
      <% else %>
        <%= render "coverflow" %>
        <%= render "gadget_list" %>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= link_to new_user_gadget_path, class: "btn btn-lg" do %>
        <i class ='glyphicon glyphicon-plus-sign'></i> Gadget
      <% end %>
    </div>
  </div>  
</div>