<div class="container main-area">
  <div class="row">
    <h2 class="gadget-title"><%= @gadget.name.titleize%></h2>
      <div class="col-md-8">
        <h3 class="gadget-title">Description</h3>
        <div class="gadget-text">
          <p class="well"><%= @gadget.description%></p>
        </div>
        <h3 class="gadget-title">Images</h3>
        <% @gadget.images.each do |img| %>
          <%= image_tag img.file_url(:thumb), class: "img-rounded gadget-img" %>
          <% end %>  
      </div>
    </div>
</div>